<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Misc</key>
	<dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Arguments</key>
				<string></string>
				<key>Auxiliary</key>
				<false/>
				<key>Comment</key>
				<string>CFGLock Unlocker</string>
				<key>Enabled</key>
				<true/>
				<key>Name</key>
				<string>CFGLock</string>
				<key>Path</key>
				<string>CFGLock.efi</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
